*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif; 
}
.aside{
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 88.5vh;
  background-color: #ff5a5f; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  color: aliceblue;
}
.i1{
    display: flex;
  flex-direction: column;
   gap: 15px;
}
i{
    font-size: 20px;
}
header {
    /* background-color: aqua; */
  width: 90%;
  height: 80px;                
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: fixed;             
  top: 0;
  left: 70px;
  
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #12263a;
  margin: 0 20px;
  font-weight: 500;
}

nav a:hover {
  color: #ff5a5f;
}

.search-box {
  display: flex;
  align-items: center;
  background: #d8d6d6;
  border-radius: 30px;
  padding: 5px 15px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  padding: 8px;
}

.buttons a {
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 500;
  margin-left: 10px;
}

.signup {
  color: #12263a;
}

.login {
  background: #ff5a5f;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  width: 800px;
  margin-top: 10px;
  margin-left: 20px;
}

.left {
  width: 400px;
}

.left h1 {
  font-size: 40px;
  color: #12263a;
}
.left p{
    color: rgb(127, 127, 127);
    margin: 20px 0px;
    font-size: 12px;
}

.left span {
  color: #12263a;
  text-decoration: underline;
  text-decoration-color: #ff5a5f;
}

input {
  margin-top: 20px;
  padding: 12px;
  width: 80%;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: #d5d5d5d6;
  
}

button {
  background: #ff5a5f;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.right {
  position: relative;
}

.student-img {
  position: relative;
  z-index: 10;
  width: 280px;
  border-radius: 50%;
}

#check{
  color: #ff5a5f;
}
.circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.95;
}

.pink {
  width: 300px;
  height: 300px;
 border-top-left-radius: 200px;
 border-top-right-radius:0px ;
 border-bottom-left-radius: 200px;
 border-bottom-right-radius:200px ;
  background: #ff5a5f;
  top: 10px;
  right: 0;
}

.blue {
  width: 100px;
  height: 100px;
  background: #00bcd4;
  bottom: 20px;
  /* left: 290px; */
  top:180px;
  right: 240px;
}
.blue2{
  width: 100px;
  height: 380px;
  background: #00bcd4;
   border-top-left-radius: 120px;
 border-top-right-radius:0px ;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius:2px ;
  top: 15px;
  left:410px;
}
.yellow {
  width: 100px;
  height: 100px;
  background: #ffcc00;
   border-top-left-radius: 0px;
 border-top-right-radius:200px ;
 border-bottom-left-radius: 200px;
 border-bottom-right-radius:200px ;
  top: 13px;
  left:280px;
  /* border-radius: 30px; */
}
.yellow2 {
  width: 100px;
  height: 100px;
  background: #ffcc00;
   border-top-left-radius: 200px;
 border-top-right-radius:0px ;
 border-bottom-left-radius: 200px;
 border-bottom-right-radius:200px ;
  top: 300px;
  left:310px;
 
}
